.columns
  .column.is-4.is-offset-4
    %h2.title=t(".title")
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :email, class: "label"
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "input"
      .field
        = f.label :password, class: "label"
        = f.password_field :password, autocomplete: "current-password", class: "input"
      - if devise_mapping.rememberable?
        .field
          .control
            = f.check_box :remember_me
            = f.label :remember_me
      .control
        = f.submit t(".submit"), class: "button is-link is-fullwidth is-medium"
.columns
  .column.is-two-fifths.is-offset-4
    = render "users/shared/links"
