.columns
  .column.is-4.is-offset-4
    %h2.title= t(".forgot_your_password")
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label :email, class: "label"
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "input"
      .field
        .control
          = f.submit t(".send_me_intruccions"), class: "button is-link is-fullwidth"
    = render "users/shared/links"
