%tr
  %td= link_to activity.name, activity_path(activity), "data-turbolinks" => "false"
  %td= activity.users.size.to_s
  %td= t(activity.active, scope: "generic.true_or_false")
  %td= l(activity.created_at, format: :long)
  %td= l(activity.updated_at, format: :long)
