%tr
  = see_record_cell(activity_path(activity), activity.name)
  = see_record_cell(activity_path(activity), activity.users.size.to_s)
  = see_record_cell(activity_path(activity), t(activity.active, scope: "generic.true_or_false"))
  = see_record_cell(activity_path(activity), l(activity.created_at, format: :long))
  = see_record_cell(activity_path(activity), l(activity.updated_at, format: :long))
