.box
  = form_with model: @activity, local: true do |form|
    = form.hidden_field :latitude, class: "input", "data-target": "activity-form.latitude", value: @activity.latitude
    = form.hidden_field :longitude, class: "input", "data-target": "activity-form.longitude", value: @activity.longitude
    .columns
      .column.is-6
        = form.field_with_label :name
        = form.field_with_label :description, type: :text_area, class: "textarea"
        = form.select_with_label :occurs_on, Activity.i18n_occurs_ons.map(&:reverse), { prompt: true, class: "is-fullwidth" }, { "data-action": "change->activity-form#change", "data-target": "activity-form.source" }
        = form.field_with_label :occurs_at, class: "input-date", autocomplete: "off", "data-target": "activity-form.inputDate"
        .field
          .control
            = form.label :occurs_frequency, class: "label"
            = form.collection_check_boxes :occurs_frequency, Activity.i18n_occurs_frequency_options.transform_values(&:capitalize), :first, :last, checked: JSON.parse(@activity.occurs_frequency || "[]") do |b|
              = b.label class: "checkbox m-r-10", "data-target": "activity-form.inputCheckboxLabel" do
                = b.check_box "data-target": "activity-form.inputCheckbox"
                = b.text
        .columns
          .column.is-6
            = form.field_with_label :start_at, type: :time_field, class: "input-time", autocomplete: "off", "data-target": "activity-form.inputTime"
          .column.is-6
            = form.select_with_label :duration, duration_options, { prompt: true, class: "is-fullwidth" }
        - if current_organization.slack_webhook_url.present?
          .columns
            .column
              = form.field_with_label :slack_channel
        .columns
          .column
            .field
              = form.label :active
              = form.check_box :active
          .column
            .field
              = form.label :validate_attendance
              = form.check_box :validate_attendance
      .column.is-6
        .field
          .control
            = form.label :place, class: "checkbox" do |text|
              = form.check_box :place, class: "checkbox", "data-target": "activity-form.selectActivityPlace", "data-action": "click->activity-form#toggleMapSection"
              = I18n.t('activerecord.attributes.activity.mark_activity_place')
        .field
          .map-section.is-hidden{ "data-target": "activity-form.mapSection" }
            .is-hidden
              .field#autocomplete-container
                = text_field_tag "autocomplete_address", nil, id: :autocomplete_address, class: "input", style: "width:350px;margin: 15px;"
            #map-viewer.m-b-15.map-viewer{ "data-target": "activity-form.mapViewer" }
            .field
              .control
                = form.field_with_label :radius, type: :range_field, class: "slider is-marginless", "data-target": "activity-form.slider", value: @activity.radius
    .columns
      .column.is-clearfix
        .field.is-grouped.is-pulled-right
          .control
            = link_to t(:cancel, scope: :generic), :back, class: "button"
          .control
            = form.submit class: "button is-primary"
