.box
  = form_with model: @activity, local: true do |form|
    .columns
      .column.is-6
        = form.field_with_label :name
        = form.field_with_label :description, type: :text_area, class: "textarea"
        = form.select_with_label :occurs_on, Activity.i18n_occurs_ons, { prompt: true, class: "is-fullwidth" }, { "data-action": "change->activity-form#change", "data-target": "activity-form.source" }
        = form.field_with_label :occurs_at, class: "input-date", autocomplete: "off", "data-target": "activity-form.inputDate"
        .field
          .control
            = form.label :occurs_frequency, class: "label"
            = form.collection_check_boxes :occurs_frequency, date_daynames_options, :first, :last, checked: JSON.parse(@activity.occurs_frequency || "[]") do |b|
              = b.label class: "checkbox m-r-10", "data-target": "activity-form.inputCheckboxLabel" do
                = b.check_box "data-target": "activity-form.inputCheckbox"
                = b.text
        .columns
          .column.is-6
            = form.field_with_label :start_at, class: "input-time", autocomplete: "off"
          .column.is-6
            = form.select_with_label :duration, duration_options, prompt: true, class: "is-fullwidth"
      .column.is-6
        .field
          .control
            = form.label :place, class: "checkbox" do |text|
              = form.check_box :place, class: "checkbox", "data-target": "activity-form.selectActivityPlace", "data-action": "click->activity-form#toggleMapSection"
              = I18n.t('activerecord.attributes.activity.mark_activity_place')
        .map-section.is-hidden{ "data-target": "activity-form.mapSection" }
          #map-viewer.map-viewer{ "data-target": "activity-form.mapViewer" }
          .field
            .control
              = form.field_with_label :radius, "data-target": "activity-form.slider", placeholder: "radius in meters", value: @activity.radius
          .field.is-grouped
            .control
              = form.hidden_field :latitude, class: "input", "data-target": "activity-form.latitude", value: @activity.latitude
            .control
              = form.hidden_field :longitude, class: "input", "data-target": "activity-form.longitude", value: @activity.longitude
    .columns
      .column
        .field.is-grouped
          .control
            = link_to t(:cancel, scope: :generic), activities_path, class: "button"
          .control
            = form.submit class: "button is-primary"
