.box
  .columns{"data-controller": "modals forms"}
    .column.is-6
      .columns.is-clearfix.is-marginless
        .column
          %h3.title.is-3= "#{model_singular_name(Activity)} #{@activity.name}"
        .column.is-clearfix
          - if policy(@activity).edit?
            = link_to t(:edit, scope: :generic), edit_activity_path(@activity), class: "button is-link is-pulled-right", "data-turbolinks" => "false"
      %hr
      .columns
        .column= resource_attribute_and_value @activity, :name
        .column= resource_attribute_and_value @activity, :occurs_on, format: :enum
      .columns
        .column
          = resource_attribute_and_value label_text: Activity.human_attribute_name(:occurs_frequency) do
            = @activity.i18n_occurs_frequency.to_sentence
      .columns
        .column= resource_attribute_and_value @activity, :occurs_at, format: :date
        .column= resource_attribute_and_value @activity, :start_at, format: :time
        .column
          = resource_attribute_and_value label_text: Activity.human_attribute_name(:duration) do
            - real_duration = duration_options.find { |option| option.second == @activity.duration  }
            = real_duration.first
      .columns
        .column= resource_attribute_and_value @activity, :description
      .columns
        .column
          = resource_attribute_and_value @activity, :active, format: :boolean
        .column
          = resource_attribute_and_value @activity, :validate_attendance, format: :boolean
    .column.is-6
      = render "participants_collection"

    = render "invite_participant_modal" if policy(@activity).edit? || @activity.active?

  - if policy(@activity).edit?
    = render "attendances_collection"
