.columns{"data-controller": "modals forms"}
  .column.is-6
    .columns.is-clearfix.is-marginless
      .column
        %h3.title.is-3= "#{model_singular_name(Activity)} #{@activity.name}"
      .column
        - if policy(@activity).edit?
          = link_to t(:edit, scope: :generic), edit_activity_path(@activity), class: "button is-pulled-right", "data-turbolinks" => "false"
    %hr
    .columns
      .column= resource_attribute_and_value @activity, :name
      .column= resource_attribute_and_value @activity, :occurs_on, format: :enum
    .columns
      .column= resource_attribute_and_value @activity, :occurs_frequency, format: :list
    .columns
      .column= resource_attribute_and_value @activity, :occurs_at, format: :date
      .column= resource_attribute_and_value @activity, :start_at, format: :time
      .column= resource_attribute_and_value @activity, :duration
    .columns
      .column
        = resource_attribute_and_value label_text: "Lugar donde se llevara acabo la actividad" do
          load_map_here
    .columns
      .column= resource_attribute_and_value @activity, :description
  .column.is-6
    .columns.is-clearfix.is-marginless
      .column
        %h3.title.is-3= model_plural_name(Participant)
      .column
        = button_tag "Invitar", class: "button is-pulled-right", data: { action: "modals#openModal" }, modalTrigger: "invite-participant-modal"
    %hr
    %table.table.is-fullwidth.is-hoverable
      %thead
        %th= User.human_attribute_name(:email)
        %th= Participant.human_attribute_name(:roles)
        %th
      %tbody
        - unless @participants.blank?
          - @participants.each do |participant|
            %tr
              %td=participant.user.email
              %td=participant.i18n_roles.values.to_sentence
              %td
                - if policy(participant).destroy?
                  = link_to "Delete", activity_participant_path(@activity, participant), method: :delete, class: "button is-danger"
        - else
          %tr
            %td.has-text-centered{colspan: 5}
              .has-text-weight-semibold= t(:no_records, scope: :generic, model: model_plural_name(Participant))

  = render "invite_participant_modal" if policy(@activity).edit?

- if policy(@activity).edit?
  = render "attendances_collection"
